body {
  background: #111111;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.drawing-canvas {
  margin-top: 10px;
  border: 2px solid #d8d6d6;
  border-radius: 10px;
  background: black;
  cursor: crosshair;
}

.controls {
  margin-top: 20px;
}

input[type="range"] {
  width: 200px;
}

.buttons {
  margin-top: 20px;
}

.predict-btn,
.clear-btn {
  padding: 12px 20px;
  margin: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.predict-btn {
  background: #00cf4c;
  color: rgb(0, 0, 0);
}

.clear-btn {
  background: #ff1744;
  color: white;
}

.result {
  margin-top: 20px;
  padding: 5px;
  background: #666666;
  border-radius: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #555;
}
